<div class="banner" style="background-color:{{backgroundColor}};{{style}}">
  <h1 class="banner-header" style="color:{{titleColor}};">{{title}}</h1>
  <p class="banner-subtitle" style="color:{{subTitleColor}}">
    {{subtitle}}
  </p>
</div>
