<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Storybook</title>
    <link rel="shortcut icon" href="favicon.ico?v=1" />

    <% if (options.headHtmlSnippet) { %>
      <%- options.headHtmlSnippet %>
    <% } %>
      
    <% if (options.links) { %>
      <% for (item of options.links) { %>
      <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
        <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
      <% } %>
    <% } %>

    <% for (item of files) { %>
      <% if (item.match(/.css$/)) { %>
        <link href="<%- item %>" rel="stylesheet" />
      <% } %>
    <% } %>
    
</head>
<body>
    
    <% if (options.window) { %>
      <script>
        <% for (key in options.window) { %>
          window['<%= key %>'] = <%= JSON.stringify(options.window[key]) %>;
        <% } %>
      </script>
    <% } %>

    <% if (options.bodyHtmlSnippet) { %>
      <%- options.bodyHtmlSnippet %>
    <% } %>
  
    <div id="root" class="sb-main"></div>

    <% if (options.scripts) { %>
      <% for (item of options.scripts) { %>
      <% if (typeof item === 'string' || item instanceof String) { item = { src: item } } %>
        <script <% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> defer></script>
      <% } %>
    <% } %>
      
    <% for (key in dlls) { %>
      <script src="<%= compilation.outputOptions.publicPath %><%= dlls[key] %>" defer></script>
    <% } %>

    <% for (item of files) { %>
      <% if (item.match(/.js$/)) { %>
        <script src="<%- item %>" defer></script>
      <% } %>
    <% } %>
  
</body>
</html>
